<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link type="text/css" rel="stylesheet" href="/static/styles.css"/>
</head>
<body>

    <!-- menu -->
    <nav>
        <ul>
            {% for key, value in nav_menu.items() %}
                <li><a href={{value}}>{{key}}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <!-- main article -->
    <article>

        <h1>Проект - парсинг HH</h1>
        <p class="lead">Веб-оберртка над поиском в HH</p>
        <p> Туут будет вывод вакансий</p>

            дата создания: {{current_date}}
        <br>
        <p>разработчик: {{developer_name}}</p>

    </article>


</body>
</html>

