<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма запроса</title>
    <link type="text/css" rel="stylesheet" href="/static/styles.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <!-- menu -->
    <nav>
        <ul>
            {% for key, value in nav_menu.items() %}
                <li><a href={{value}}>{{key}}</a></li>
            {% endfor %}
        </ul>
    </nav>


<!-- main article -->
    <article>

        <h1>Проект - парсинг HH</h1>
        <p class="lead">Параметры поиска вакансий</p>
        <p>
            <form action="/form/" method="get">
                <p>
                    <input type="text" id="query_string" name="query_string" placeholder="Какие вакансии искать">
                </p>
                <p>
                    <label for="regions">Выберите регионы для поиска</label>
                    <br>
                    <select id="regions" name="search_regions">
                        {% for item in region_list %}
                            <option value="{{item[2]}}">{{item[3]}}</option>
                        {% endfor %}
                            <option value="113:1">Москва</option>
                            <option value="113:2">Петербург</option>
                    </select>
                </p>
                <br>
                <button type="submit">Поиск</button>

            </form>
        </p>
        <p>Запрос {{query_str}}      регион {{search_reg}}</p>

        {% if vac_data %}
             <table id="data" class="table table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Название вакансии</th>
                    <th>Зарплата</th>
                    <th>Валюта</th>
                    <th>Ссылка на вакансию</th>
                    <th>Город</th>
                    <th>Опубликована</th>
                  </tr>
                </thead>
                <tbody>
                  {% for vac in vac_data %}
                    <tr>
                      <td>{{ vac[0] }}</td>
                      <td>{{ vac[1] }}</td>
                      <td>{{ vac[2] }}</td>
                      <td>{{ vac[3] }}</td>
                      <td><a href="{{vac[4]}}">{{vac[4]}}</a></td>
                      <td>{{ vac[5] }}</td>
                      <td>{{ vac[6] }}</td>
                    </tr>
                  {% endfor %}
    </tbody>
  </table>
        {% else %}
            <p>Вакансии не найдены</p>
        {% endif %}


    </article>


</body>
</html>

